body {
    padding: 20px;
}

#browser-wrapper {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#browser-head {
  background-color: rgba(39, 40, 74, 0.8);
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: white;
}

#browser-body {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 0 0 10px 10px;
}

#id {
  display: block;
}

#server-list {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-radius: 10px;
  color: white;
  width: 100%;
  padding: 5px;
  margin: 0 auto;
}

#server-list-head th {
  border-bottom: 1px solid white;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

tbody > tr:hover {
  background: rgba(0, 0, 255, 0.3);
  cursor: pointer;
}

input {
  border-radius: 7px;
}

button {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#browser-tools {
  padding: 10px;
}

#browser-direct-input {
  width: 60%;
}
